.list__container {
  display: flex;
  align-items: flex-start;

  .list__complete-task,
  .list__uncomplete-task {
    flex-basis: 50%;
    text-align: center;
    font-family: "Apercu Mono", sans-serif;
    letter-spacing: -2px;
    margin: 0 8px;
    border-radius: 4px;
    position: relative;
    transition: all 0.2s;

    h2 {
      color: #10162f;
      padding: 4px 0;
    }
  }

  .list__uncomplete-task {
    background: #eb6753;
  }

  .list__complete-task {
    background: #8bc34a;
  }
}

.empty__task {
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(49, 49, 49);
  background: rgb(189, 189, 189);
  padding: 10px 0;
  border-radius: 4px;
  position: absolute;
  width: 100%;
}

@media (max-width: 600px) {
  .list__container {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: center;

    .list__complete-task,
    .list__uncomplete-task {
      width: 97%;
    }
  }

  .empty__task {
    width: unset;
    position: unset;
    margin: 10px 10px;
    padding: 10px;
  }
}
