.list__item-container {
  z-index: 100;
  // min-height: 20px;
}

.empty__task {
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(49, 49, 49);
  background: rgb(189, 189, 189);
  padding: 10px 0;
  border-radius: 4px;
  position: absolute;
  width: 100%;
}

@media (max-width: 600px) {
  .empty__task {
    width: unset;
    position: unset;
    margin: 10px 10px;
    padding: 10px;
  }
}
