.card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 8px;
  padding: 10px 0;
  border-radius: 4px;
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 5px #10162f;
    transform: scale(1.01);
  }

  .card__edit-input {
    width: 100%;
    padding: 6px 10px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    outline: none;
  }

  .card__task-desc {
    padding: 0 10px;
    font-size: 1.1rem;
    color: #fff;
    letter-spacing: -1px;
  }

  .card__actions {
    display: flex;
    gap: 10px;
    padding: 0 10px;

    .card__action-icon {
      font-size: 1.4rem;
      transition: 0.2s;
      margin-top: 4px;

      &:hover {
        cursor: pointer;
        transform: scale(1.3);
      }
    }
  }
}
